p {
  height:50px;
}
#track1, #track2 {
background-color: rgba(60, 45, 156, 0.5);
}
img {
  height: 30px;
  width: 30px;
}
body {
  background-image: url("http://www.newsonair.org/images/superb-free-landscape-images-4-free-desktop-wallpaper-nature-landscapes-1024-x-768.jpg");
  background-size: cover;
}
.container {
border-style: dotted;
}
.row {
  text-align: center;
}
.sep {
  background-color: rgba(158, 132, 132, 0.5);
}
.liner {
    border-style: solid;
}
